* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("back.jpg");
  background-size: cover;
  color: #eceff4;
  font-family: "Montserrat", sans-serif;
}

#contenedor {
  position: relative;
  width: 350px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #4c566a;
  border-radius: 12px;
  box-shadow: 3px 3px 3px 3px rgba(32, 32, 32, 0.3);
}

#contacto {
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: space-around;
}

input[type="submit"] {
  position: relative;
  width: 42%;
  border: none;
  outline: none;
  padding: 9px 0;
  color: #4c566a;
  background-color: #eceff4;
  font-size: 17px;
  font-weight: 420;
  border-radius: 9px;
  cursor: pointer;
  z-index: 2;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 0px;
  border-bottom: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #ccc;
}

input,
textarea {
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: transparent;
}

