@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: #eceff4;
    background-size:cover;
  }
  
  #hora {
    font-size: 6rem;
    font-weight: 700;
    margin-top:1rem ;
  }


  #dia{
    font-weight: 500;
    font-size: 1.5rem;
    margin-top:1rem ;
  }

  #cita{
    margin-top:1rem ;
    font-size: 1rem;
  }

  #google{
    margin-top:1rem ;
    font-size: 1rem;
    background-color: #eceff4;
    border-radius: 9px;
    width: 33%;
    display: inline;
  
  
  }

  #google [type=text]{
    margin-top:3rem ;
    border-radius: 9px;
    height: 33px;
    border: 0px;
    text-align: center;
    color:#4c566a;
    background-color: #eceff4;
    padding-left: 12px;
    outline: none;
    background-image: url('img/bx-search.svg');
    background-repeat: no-repeat;
    background-position: 12px;
    width: 402px;
  }


  #links{

    display:grid;
    grid-gap: 10px;
    grid-template-columns: 100px  100px   100px 100px;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows:  auto auto;
    justify-content: center;

    margin-top: 3rem;

  }

  #links img{
    width: 75px;
    background-color: #eceff4dc;
    border-radius: 12px;
    margin:0.6rem ;
    }



  #contenedor{
    width: 60%;
    background-color: #3b425294;
    border-radius: 15px;
    padding: 6%;
    margin: 21px 0;
  }
  
  @media (max-width: 821px) {
    #hora {
      font-size: 4rem;
    }

    #links img{
      width: 60px !important;
    }

    #links {

      grid-template-columns: 100px  100px   100px;
      grid-template-rows:  auto auto auto;

    }

    #google [type=text]{
    width: 100%;

  }

}

@media (max-width: 580px) {

  #links {

    grid-template-columns: 100px  100px;
    grid-template-rows:  auto auto auto auto;
    justify-content:space-around;

  }

  #contenedor {
    width: 81%;
  }

  #links img{
    width: 69px !important;
  }
  
}
  