@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

:root {
  --color-title: #001a49;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2e3440;
}


.scrollToTop {
  outline: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.scrollToTop svg {
  display: block;
}
.scrollToTop {
  position: fixed;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, background 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s, background 0.3s;
  transition: transform 0.3s, opacity 0.3s, background 0.3s,
    -webkit-transform 0.3s;
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
}
.scrollToTop.visible {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.scrollToTop svg {
  fill: #eceff4;
}

.scrollToTop {
  background-color: #2e3440;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  bottom: 1em;
  right: 1em;
  padding: 0.5em; /* borde redondeado */
  border-radius: 9px;
}
.scrollToTop:hover {
  background-color: #252525;
}

/* Cabecera */

.contenedor {
  width: 93%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
}

.fondo {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 900px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #eceff4;
  background-image: linear-gradient(90deg, #2e34408c 0%, #2e34408c 100%),
    url("../images/cabecera.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Menu de Navegacion */

.menu {
  padding: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eceff4;
}

.menutitulo {
  font-weight: 600;
}

.contenedorenlaces {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2.1em;
}

.enlacemenu {
  list-style: none;
  list-style-position: inside;
}

.enlace {
  color: #eceff4;
  text-decoration: none;
}

.enlace:hover {
  color: #81a1c1;
}

.botonmenu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.imgmenu {
  display: block;
  width: 30px;
}

.menucerrar {
  display: var(--show, none);
  opacity: 1 !important;
}

#textopresentacioncontenedor {
  max-width: 900px;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1.2em;
  padding-bottom: 90px;
  text-align: center;
}

.titulopresentacion {
  font-size: 2.4rem;
}

.textopresentacion {
  margin-bottom: 21px;
}

.botones {
  display: inline-block;
  background-color: #5e81ac;
  justify-self: center;
  color: #eceff4;
  text-decoration: none;
  padding: 12px 33px;
  border-radius: 33px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

.botones:hover {
  background-color: #6289b8;
}

/* Servicios */

#servicios {
  text-align: center;
}

.tituloseccion {
  color: #5e81ac;
  font-size: 1.8rem;
  margin-bottom: 27px;
}

.textoservicios {
  line-height: 1.8;
}

.serviciosgrid {
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.7em;
  justify-content: space-evenly;
  align-items:flex-start;
}

.serviciosiconos {
  display: grid;
  gap: 1.2em;
  justify-items: center;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.icono {
  width: 45px;
}

.tituloservicios {
  color: #5e81ac;
}

/* Localizacion */

#localizacion {
  background-color: #81a1c1;
  overflow: hidden;
}

.localizacioncontenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  align-items: center;
}

.localizacionimagen {
  max-width: 600px;
}

.localizaciontexto {
  line-height: 1.5;
  margin-bottom: 21px;
}

.localizacionmapa {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.localicaciondescripcion {
  margin: 33px 0;
}

/* precios */

.precios {
  text-align: center;
}

.precioscontenedor {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.7em;
  justify-content: space-evenly;
  align-items: center;
}

.precioscaja {
  background-color: #81a1c115;
  border: 3px solid #81a1c1;
  text-align: center;
  border-radius: 10px;
  width: 330px;
  padding: 42px;
}

.precionombre {
  color: #4c566a;
  margin-bottom: 15px;
  font-weight: 600;
}

.precio {
  font-size: 2.4em;
  color: #5e81ac;
}

.precioslista {
  margin-top: 41px;
  display: grid;
  gap: 1.2em;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 60px;
  color: #434c5e;
}

.precioboton {
  display: block;
  padding: 21px 3px;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #5e81ac;
  justify-self: center;
  color: #eceff4;
  text-decoration: none;
}

.precioboton:hover {
  background-color: #688cb8;
}

/* Responsabilidad */

#responsabilidad {
  background-color: #81a1c1;
}

.responsabilidadcontenedor {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  gap: 2em;
  align-items: center;
}

.responsabilidadescrip {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}

.responsabilidadmostrar {
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.responsabilidadimg {
  width: 330px;
  height: 240px;
  border-radius: 12px;
  border: 3px solid #eceff4;
  object-fit: cover;
}

.responsabilidadtexto {
  max-width: 600px;
}

.responsabilidadp {
  padding-top: 21px;
}

.responsabilidadflecha {
  width: 90%;
  cursor: pointer;
}

/* contacto */

.contacto {
}

.contacto {
  margin-left: 0;
  max-width: 81%;
  padding: 0;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.contactonombre,
.contactomensaje,
.contactoemail {
  max-width: 100%;
  width: 100%;
  transition: 0.3s linear;
}

.contactonombre,
.contactoemail {
  font-size: 15px;
  border-bottom: 3px solid #81a1c1;
  box-sizing: border-box;
  color: #4c566a;
  display: inline-block;
  height: 40px;
  margin: 0;
  margin-top: 5px;
  padding: 10px;
  vertical-align: top;
  transition: 0.3s linear;
  border-top: none;
  border-right: none;
  border-left: none;
}

.contactomensaje {
  font-size: 15px;
  border-bottom: 3px solid #81a1c1;
  box-sizing: border-box;
  color: #4c566a;
  display: inline-block;
  margin: 0;
  margin-top: 5px;
  padding: 10px;
  vertical-align: top;
  transition: 0.3s linear;
  border-top: none;
  border-right: none;
  border-left: none;
  resize: none;
  margin-bottom: 33px;
}

.contactoemail:hover,
.contactonombre:hover,
.contactomensaje:hover {
  border-bottom: 3px solid #6289b8;
  outline: none;
  box-shadow: none;
  transition: 0.3s linear;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.contactoemail:focus,
.contactonombre:focus,
.contactomensaje:focus {
  border-bottom: 3px solid #81a1c1;
  color: #4c566a;
  outline: none;
  box-shadow: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.titulocontacto {
  color: #5e81ac;
  font-size: 1.8rem;
  margin-bottom: 27px;
  text-align: center;
}

.textocontacto {
  text-align: center;
  margin-bottom: 39px;
}

.contaciconos {
  margin-right: 9px;
}

.contadiv {
  display: flex;
  align-items: center;
}

/* Footer */

.pie {
    width: 100%;
    color: #eceff4;
    background-color:#81a1c1;
     
  }
  
  .piedistribucion{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 3em;
    padding: 60px 60px;
  }
  

  
  /* Footer left */
  
.piesobre{
  text-align: left;
}

  .piecompania{
      width: 33%;
  }
  
  .enlaces{
    margin-top: 15px;
    margin-left: -30px;
  }

  .enlaces li{
    list-style: none;
    margin-bottom: 3px;
  }

  .pie a {
    color: #eceff4;
    text-decoration: none;
  }

  .pie a:hover{
    text-decoration: underline;
  }
  
  .piecentral {
    width: 33%;
  }

  .piecentral li{
    margin:12px;
  }

  .piederecha{
    width: 33%;
    text-align: justify;
  }
  .postal{
    padding-left: 39px;
  }

  .centrar{
    display: flex;
align-items: center;
  }

  .redesociales{
    margin-top: 21px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
  }
  
  .copi{
    text-align: center;
  }


/* Media queries */

@media (max-width: 800px) {
  .botonmenu {
    display: block;
  }

  .menuresp{
    position: fixed;
    background-color: #2e3440;
    top: 0;
    right: 0;
    height: 399px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s opacity;
    border-radius: 0  0  0 21px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  .contenedorenlaces{
    gap:0;
  }

  .muestramenu{
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .cierramenu {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .titulopresentacion {
    font-size: 2.4rem;
  }

  .serviciosgrid {
    gap: 2em;
  }


  .localizacioncontenedor {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 3em;
    text-align: center;
  }

  .localizacionimagen {
    grid-row: 2/2;
    justify-self: center;
    width: 80%;
  }

  .responsabilidadescrip{
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 3em;
    text-align: center;
   
  }

  .responsabilidadimg{
    width: 100%;
  }

  h2{
    text-align: center;
  }
  

  .responsabilidadp{
    width: 100%;
    text-align: center;
  }

  .piedistribucion{
   width: 90%;
    
  }

  .piederecha{
    display: none;
  }

  .piecompania{
    width: 45% !important;
  }

  .piecentral{
    width: 55%;

  }
}

@media (max-width: 600px) {
 
 
  .piecompania{
    display: none;
  }

  .piecentral{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .responsabilidadp{
    text-align: justify;
  }
  
  .menuresp{
    width: 100%;
    border-radius: 0px;
  }

}
